@keyframes swimToRight {
    0% {transform: translateX(-200vw) scaleX(-1);}
    100% {transform: translateX(200vw) scaleX(-1);}
}

@keyframes swimToLeft {
    0% {transform: translateX(200vw);}
    100% {transform: translateX(-200vw);}
}

@keyframes wiggle {
    0%, 100% { rotate: -2deg; }
    50% { rotate: 2deg; }
}